<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs")%>
	<script type="text/javascript" src="../drag-n-drop.js"></script>
	<script type="text/javascript" src="../ajax-logout.js"></script>
  	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
</head>

<body>
	<form action="/names/addNameForm" method="get">
		<input type="submit" value="Add Name" onfocus="onclick">
	</form>
	<form id="logout" action="/names/logout" method="post">
		<input type="submit" value="logout" onfocus="onclick">
	</form>
	<div class="container">
<% for(var i=0; i < names.length; i++) {%>
	<div data-id="<%= names[i].id%>" data-rate="<%= names[i].rate%>" class="movable">
		<label for="name">Name: </label>
		<input type="text" value="<%= names[i].name%>" size='15' name='name'>
		<label for="rate">Rank: </label>
		<input type="text" value="<%= names[i].rate%>" id="rate" size='15' name='rate'>
		<input value="<%= names[i].id%>" name="id" type="hidden">

		<form action="/names/deleteName" method="post">
			<input id="id" value="<%= names[i].id%>" name="id" type="hidden">
			<input type="submit" value="Delete" onfocus="onclick">
		</form>	
		<form action="/names/editNameForm" method="get">
			<input id="id" value="<%= names[i].id%>" name="id" type="hidden">
			<input type="submit" value="Edit" onfocus="onclick">
		</form>	
	</div>
<%}%>
	</div>
</body>
</html>
